<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Favorites</title>
    <link rel="stylesheet" href="../css/favorites.css" />
  </head>
  <body>
    <header></header>
    <main class="main">
      <div class="img-wrapper">
        <img
          src="../images/card670px-mob2x.webp"
          alt="dish"
          width="335"
          height="516"
          class="dish-img"
        />
      </div>
      <div class="btn-wrapper">
        <button class="btn-category">All categories</button>
        <button class="btn-category">Beef</button>
        <button class="btn-category">Breakfast</button>
        <button class="btn-category">Chicken</button>
        <button class="btn-category">Dessert</button>
        <button class="btn-category">Goat</button>
        <button class="btn-category">Lamb</button>
        <button class="btn-category">Miscellaneous</button>
        <button class="btn-category">Pasta</button>
        <button class="btn-category">Pork</button>
        <button class="btn-category">Seafood</button>
        <button class="btn-category">Side</button>
        <button class="btn-category">Soup</button>
        <button class="btn-category">Starter</button>
        <button class="btn-category">Vegan</button>
        <button class="btn-category">Vegetarian</button>
      </div>
    </main>
    <script type="module" src="../js/favorites.js"></script>
  </body>
</html>
