<main class="main">
  <section class="hero">
    <div class="img-hero">
      <picture>
        <source
          srcset="./partials/images/card1080px-desk1x.webp 1x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="./partials/images/card1408px-tab2x.webp 2x"
          media="(min-width: 768px)"
        />
        <img
          src="./partials/images/card670px-mob2x.webp"
          alt="dish"
          class="dish-img"
        />
      </picture>
    </div>
  </section>
  <section class="favorites">
    <div class="btn-wrapper">
      <button class="btn-category all-btn onActive">All categories</button>
    </div>
    <div class="not-found-wrapper is-hidden">
      <svg class="element-icon">
        <use xlink:href="./partials/images/sprite.svg#icon-elements"></use>
      </svg>
      <p class="element-description">
        It appears that you haven't added any recipes to your favorites yet. To
        get started, you can add recipes that you like to your favorites for
        easier access in the future.
      </p>
    </div>
    <ul class="favorites-list"></ul>
  </section>
</main>
