<header class="header">
    <div class="container header-container">
        <nav class="header-nav">    
            <ul style="list-style: none" class="header-menu">
                <li><a class="link current" href="./header.html">Home</a></li>
                <li><a class="link" href="./favorites.html">Favorites</a></li>
            </ul>
            <a href="./header.html" class="navig-logo"><span class="navig-logoitem">tasty</span>treats.</a>
        </nav>
        <div class="header-contact">
            <address class="color-two">
                <ul style="list-style: none" class="header-menu-contect">
                    <svg width="32" height="22">
                        <use href="../images/sprite.svg#icon-shopping-cart"></use>
                    </svg>  
                    <svg width="32" height="22">
                        <use href="../images/sprite.svg#icon-switch"></use>
                    </svg>
                </ul>
            </address>
        </div>

        <button class="header-burger js-open-menu" type="button">
            <svg width="32" height="22">
                <use href="../images/sprite.svg#icon-burger"></use>
            </svg>
        </button>

        <div class="mobile-menu js-menu-container">
            <button class="model-close-js js-close-menu" type="button">
                <svg class="close">
                    <use href="../images/sprite.svg#icon-x"></use>
                </svg>
            </button>
            <div class="header-nav-modal">
                <ul class="contact-menu-nav">
                    <li><a class="link" href="./index.html">Home</a></li>
                    <li><a class="link" href="./favorites.html">Favorites</a></li>
                </ul>
                <svg width="32" height="22">
                    <use href="../images/sprite.svg#icon-switch"></use>
                </svg>
            </div>
        </div>
    </div>
</header>