<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page title</title>
    <link rel="stylesheet" href="../css/index.css" />
</head>

<body>
    <form class="search-form">

        <button type="submit">All categories</button>
    </form>
    <div class="gallery">
        <!-- Карточки изображений -->
    </div>
    <!-- нумерация страниц -->
    <script type="module" src="../js/pictures_backend.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/2.3.0/simple-lightbox.min.js"></script>
    <script type="module" src="../js/pictures_backend.js"></script>
</body>

</html>
