<!--Pop-up-for-recipe-->
<div class="backdrop-recipes is-hidden-modal">
    <div id="scroll-rec" class="modal-recipes is-hidden-modal">
        <div class="modal-recipes-js"></div>
        <button class="close-modal">
            <svg class="close-modal-icon" width="20" height="20">
                <use href="/src/partials/images/sprite.svg#icon-x">
                </use>
            </svg>
        </button>
        <div class="scroll-box"></div>
        <button class="add-recipes-btn">Add to favotite</button>
        <button class="give-rating-btn">Give a rating</button>
       </div>
      
</div>
<!--Pop-up-for-recipe/-->