.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  width: 100%;
  padding: 20px;
}

.gallery__link {
  display: flex;
  position: relative;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  max-width: 335px;
}

@media screen and (min-width: 768px) {
  .gallery__link {
    width: 224px;
    height: 244px;
  }
}

@media screen and (min-width: 1280px) {
  .gallery__link {
    width: 258px;
    height: 287px;
  }
}

.gallery-img {
  object-fit: cover;
}

.info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    0deg,
    rgba(5, 5, 5, 0.6),
    rgba(5, 5, 5, 0.3)
  );
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 16px;
  padding-bottom: 16px;
}

.heart-wrapper {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.heart-icon {
  stroke: #f8f8f8;
  transition: color 250ms ease-in;
  fill: transparent;
  transition: fill 250ms linear;
  pointer-events: none;
}

.heart-wrapper.is-active > .heart-icon,
.heart-icon:hover {
  fill: #f8f8f8;
}

.rating-wrapper {
  position: absolute;
  bottom: 23px;
  left: 16px;
}

.rating {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  color: #f8f8f8;
}

.info-item-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  color: #f8f8f8;
  margin-bottom: 8px;
}

.info-item-description {
  max-width: 303px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #f8f8f8;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.is-hidden {
  visibility: hidden;
  display: none;
}

.wrapper-bottom {
  padding-top: 16px;
}

.card-btn-wrapper {
  display: flex;
  justify-content: flex-end;
  padding-top: 16px;
  padding-right: 16px;
}

.card-btn {
  padding: 8px 14px;
  background-color: #9bb537;
  color: #f8f8f8;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
