.hero {
  display: flex;
  justify-content: center;
  padding-top: 51px;
  padding-bottom: 64px;
}

.dish-img {
  object-fit: cover;
  border-radius: 15px;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}

.favorites-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  width: 100%;
  padding: 32px 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .favorites-list {
    justify-content: flex-start;
    width: calc(224px * 3 + 72px);
  }
}

@media screen and (min-width: 1280px) {
  .favorites-list {
    width: calc(258px * 4 + 88px);
  }
}

.btn-category {
  padding: 14px 18px;
  color: #05050533;
  background-color: var(--primary-white-color);
  border-radius: 15px;
  border: 1px solid #05050533;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-category:hover,
.btn-category:focus,
.btn-category.is-active {
  color: #f8f8f8;
  background-color: #9bb537;
  border: none;
}

.not-found-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.element-icon {
  height: 58px;
  stroke: none;
}
.element-description {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  max-width: 335px;
  margin-top: 24px;
  padding-bottom: 64px;
}

.is-hidden {
  visibility: hidden;
  display: none;
  background-image: none;
}
