.text-filter-form {
  color: rgba(5, 5, 5, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 8px;
  display: block;
}
.inp-search-form {
  /* border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
  padding: 14px 122px 14px 48px; */
      border: 1px solid #05050533;
        border-radius: 15px;
        width: 335px;
        height: 46px;
        padding: 0 0 0 48px;
      }
.inp-time-form {
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
  padding: 14px 18px 14px 18px;
  color: rgba(5, 5, 5, 0.5);
  font-family: Inter;
  font-size: 14px;
  /* font-style: normal; */
  font-weight: 500;
  width: 160px;
  height: 46px;
  line-height: 20px;
}
.inp-area-form {
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
  padding: 14px 18px;
  color: #05050580;
  width: 161px;
      font-size: 14px;
          height: 46px;
}
.inp-ingredients-form {
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
  padding: 14px 18px;
  color: #05050580;
  font-size: 14px;
  width: 188px;
  height: 46px;
      margin-bottom: 14px;
}
.form-icon-search {
        fill: #757575;
        transition: fill .25s cubic-bezier(.4, 0, .2, 1);
        display: block;
        position: absolute;
        top: 50%;
        left: 18px;
        transform: translate(0, -50%);
        stroke: none;
}
.form-search-input {
  position: relative;
  display: block;
}
.form-search-input input::placeholder {
  font-size: 14px;
  }

.filter-form {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  gap: 14px;
}
.reset-filter {
  color: rgba(5, 5, 5, 0.5);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}
.reset-div-search {
  flex-direction: row-reverse;;
  display: flex;
  /* gap: 4px; */
}
.svg-modal-reset-btn {
  border: none;
  background: none;
  color: rgba(155, 181, 55, 1);
  cursor: pointer;
      display: flex;
        gap: 4px;
        padding-left: 0;
          padding-right: 0;
  margin-bottom: 20px;
}
.text-reset-btn {
  color: rgba(5, 5, 5, 0.5);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}
