.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .header-container {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1158px) {
  .header-container {
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header-burger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: #050505;
  border: none;
  background: none;
  padding: 0;
  /* margin-right: 20px; */
}
.header-contact-burger {
  display: flex;
  align-items: center;
  gap: 14px;
}

@media screen and (min-width: 768px) {
  .header-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 76px;
  }

  .header-burger {
    display: none;
  }
}

.navig-logo {
  display: block;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: var(--primaty-black-color);
  font-size: 1.1rem;
  /* padding-right: 217px; */
  text-decoration: none;
  /* margin-left: 20px; */
}

.navig-logoitem {
  color: var(--accent-color);
  text-decoration: none;
}

.header-menu {
  display: flex;
  flex-grow: 1;
  gap: 16px;
}

@media screen and (min-width: 1158px) {
  .header-menu {
    gap: 16px;
  }
}

.header-menu-contect {
  flex-direction: row;
  gap: 40px;
  width: 24px;
  height: 24px;
  fill: none;
  stroke: #000;
  stroke-width: 2;
}

.header-menu-contect:focus,
.header-menu-contect:hover {
  fill: var(--accent-color);
}
.header-menu-switch {
  width: 24px;
  height: 24px;
  display: block;
}
.header-menu,
.header-menu-switch {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-menu-switch,
  .header-menu-contect {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 24px;
    height: 24px;
    fill: none;
    stroke: #000;
    stroke-width: 2;
    width: 100%;
  }

  .header-menu-contect a {
    padding: 0;
  }

  .header-contact,
  .header-menu {
    display: flex;
    /* gap: 20px; */
  }
  .contect-switch {
    display: flex;
    gap: 18px;
    margin-left: 217px;
  }
}

@media screen and (min-width: 1200px) {
  .header-menu-switch,
  .header-menu-contect {
    flex-direction: row;
    gap: 40px;
    width: 100%;
  }
}

.link.current {
  color: var(--accent-color);
}
.link {
  position: relative;
  padding: 24px 0;
  display: block;
  color: var(--color-two);
  text-decoration: none;
  font-style: normal;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 14.52px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.link.current::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 16px;
}

.current:hover,
.current:focus {
  color: var(--accent-color);
}

/* mobile-menu */

.mobile-menu-head {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 200px;
  background: var(--accent-color);
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .mobile-menu-head {
    display: none;
  }
}

.mobile-menu-head.is-open-h {
  transform: translateX(0);
}

.model-close-js-hed {
  position: absolute;
  top: 28px;
  display: flex;
  right: 28px;
  background: none;
  border: none;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.model-close-js-hed:hover,
.model-close-js-hed:focus {
  background: var(--primary-white-color);
  border-radius: 2px;
  fill: var(--color-inverted);
}

.close {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: var(--primary-white-color);
  fill: currentColor;
}

.header-nav-modal {
  width: 100%;
  height: 100%;
  max-width: 428px;
  max-height: 796px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Inter';
  color: var(--primary-white-color);
}

.contact-menu-nav {
  display: block;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.model-menu-switch {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 46px;
  height: 20px;
  fill: none;
  stroke: #000;
  stroke-width: 2;
}
