
.overflow-hidden {
  overflow: hidden;
}
.recipe-content {
  padding: 16px 32px 16px 32px;
  z-index: 1;
  position: relative;
}

.backdrop-recipes.is-hidden-modal,
.modal-recipes.is-hidden-modal {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transition: opacity 250ms linear, visibility 250ms linear;
}


.backdrop-recipes:not(.is-hidden-modal),
.modal-recipes:not(.is-hidden-modal) {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms linear, visibility 250ms linear;
}

/* Background */

.backdrop-recipes {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #05050548;
  overflow: auto;

  opacity: 1;
  visibility: visible;
  pointer-events: all;

  transition: opacity 250ms linear, visibility 250ms linear;
}

.modal-recipes {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 335px;
  min-height: 700px;
  padding: 40px 20px;
  background-color: #ffffff;
  border-radius: 15px;

  opacity: 1;
  visibility: visible;
  pointer-events: all;

  transition: opacity 250ms linear, visibility 250ms linear;
}

@media screen and (max-width: 767px) {
  .modal-recipes {
    top: 20px;
  }

  .modal-recipes::after {
    content: '';
    display: block;
    width: 335px;
    height: 20px;
    position: relative;
    bottom: -62px;
    left: -20px;
  }
}

@media screen and (min-width: 768px) {
  .modal-recipes {
    width: 685px;
    padding: 32px;
    height: 681px;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

/* Buttons */
.close-modal {
  position: absolute;
  top: 14px;
  right: 14px;
  background-color: #00000000;
  border: none;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  padding: 0;
  align-items: center;
}

.close-modal-ico {
  stroke: #000000;
  fill: rgba(5, 5, 5, 0.5);
}

@media screen and (min-width: 768px) {
  .close-modal {
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
  }

  .close-modal-ico {
    width: 24px;
    height: 24px;
  }
}

.save-recipes-btn,
.give-rating-btn {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  width: 148px;
  height: 41px;
  padding: 12px 8px;
  margin-right: 9px;
  border-radius: 15px;
  background-color: var(--accent-color);
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--text-white-color);
  border: none;
}

.save-recipes-btn:hover,
.save-recipes-btn:focus {
  color: var(--primary-black-color);
}

@media screen and (min-width: 768px) {
  .save-recipes-btn {
    width: 156px;
    height: 45px;

    padding: 14px 10px;
    margin-right: 12px;

    border-radius: 15px;
  }
}

button.give-rating-btn {
  width: 133px;

  margin: 0;

  background-color: var(--primary-white-color);
  color: var(--primary-black-color);

  border: 1px solid var(--accent-color);
}

@media screen and (min-width: 768px) {
  button.give-rating-btn {
    width: 141px;
    height: 45px;
  }
}



/* Recipe-frame */
.recipe-frame {
  width: 295px;
  height: 295px;
  border-radius: 8px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .recipe-frame {
    width: 332px;
    height: 300px;

    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .recipe-parts {
    display: flex;
    gap: 32px;
    margin-bottom: 34px;
  }
}

/* text style */
.recipe-title-txt {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 14px;
}

@media screen and (min-width: 768px) {
  .recipe-title-txt {
    line-height: 22px;
    margin-bottom: 16px;
  }
}

.rating-part {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #05050580;
  margin-bottom: 33px;
}

.rating-part .rate {
  margin-right: 9px;
}

.rating-part .rate-list {
  margin-right: 16px;
}

.ingridients {
  margin: 0;
  padding: 0 30px 0 0;
}

@media screen and (max-width: 767px) {
  .ingridients {
    margin: 0 0 40px 0;
    max-height: 224px;
  }
}

@media screen and (min-width: 768px) {
  .ingridients {
    height: 204px;
  }
}

@media screen and (min-width: 768px) {
  .recipe-title {
    width: 256px;
  }
}

.recipe-ingridient {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  color: var(--primary-black-color);
  border-bottom: 1px solid #0505051a;
  padding-bottom: 6px;
}

.recipe-ingridient:not(:last-child) {
  margin-bottom: 16px;
}

.recipe-ps {
  color: #05050580;

  text-align: end;
}

.recipe-tags {
  padding: 0;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 0 24px 0;

  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .recipe-tags {
    margin: 0 0 32px 0;
  }
}

.recipe-tag {
  padding: 8px 16px 8px 16px;
  border-radius: 35px;
  border: 1px solid #05050533;
  color: var(--primary-black-color);
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
}

.recipe-instr {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 40px;
  height: 100px;
  overflow: hidden;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .recipe-instr {
    margin-bottom: 30px;
    height: 146px;
  }
}

.scroll-box {
  max-height: 100px;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .modal-img {
    display: inline-block;
    width: 295px;
    border-radius: 8px;
  }
}

@media screen and (min-width: 768px) {
  .modal-img {
    display: inline-block;
    width: auto;
    height: 300px;
    border-radius: 8px;
  }
}
