/* контейнер для рейтингу і кнопки "See recipe" */
.block-raiting {
  display: flex;
  align-items: center;
  width: 218px;
  background-color: gray;
  gap: 9px;
}

/* контейнер зірок-svg */
.rating-container {
  display: flex;
  /* align-items: center; */
  /* margin:auto; */
}

/* стиль cвітло-сіра зірка */
.star {
  fill: rgba(248, 248, 248, 0.1);
  width: 16px;
  stroke: none;
}

/* стиль жовта зірка */
.filled {
  fill: #eea10c;
}
.star.filled{
width: 18px;
  height: 18px;
}
/* цифра-рейтинг попереду від зірок*/
.rating {
  color: #f8f8f8;
  margin-right: 4px;
}

.rating-wrapper {
  display: flex;
}
